#friggTemplates {
    display: none;
}

#friggDebugger {
	z-index: 100;
    font-size: 0.8em;
    position: absolute;
    top: 0%;
    left: 20%;

    background: white;
    padding: 1em;
    border: 1px solid black;

    transform-origin: 50% 0;
    transition: transform 0.2s;
}

#friggDebugger.hidden {
    transform: scale(0.3);
}


#friggDebugger.hidden li {
    pointer-events: none;
}



#friggDebugger .separated {
	border-top: 1px solid black;
	padding-top: 0.3em;
	margin-top: 0.3em;
}