#friggTemplates {
    display: none;
}

#friggDebugger {
	z-index: 100;
    font-size: 0.8em;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;

    background: white;
    padding: 1em;
    border: 1px solid black;
}