* {
    padding: 0;
    margin:0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(53, 32, 97);
    line-height: 1.4em;

    overscroll-behavior-y: none;

}

.pleaseWait {
    text-align: center;
    font-weight: bold;
    padding-top: 2em;
}

.scene {
    /*transition: all 0.2s;*/
    position: fixed;
    top: 0;
    left: 0%;
    
    height: 100%;
    width: 100%;

    background: white;

}

.empty {
    display: none !important;
}


.inBackground {
    left: -100%;
}

.inFront {
    left: 0;
    z-index: 1;
}

.link {
    cursor: pointer;
}

.link.closed-link {
    opacity: 0.2;
    pointer-events: none;
}


/* COMPONENTS */

.container {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container.carded  {
    padding: 4em;

    width: calc(100% - 8em);
    height: calc(100% - 8em);
}

.card {

    width: calc(100% - 1em);
    height: calc(100% - 1em);
    padding: 1em;

    background: white;

    max-width: 600px;
    margin: auto;
}

.card .content {

    width: 100%;
    height: calc(100% - 5em);
    overflow-y: scroll;
}



/* TEMPLATES */ 


/* tpl_accueil */ 

.tpl_accueil .front {
    display: block;
    margin: auto;
    height: 100%;
    
    z-index: 1;
}

/* tpl_intersticiel */

.tpl_intersticiel .next {
    text-align: center;
    margin: 1em;
}

.tpl_intersticiel .next .image {
    width: 60px;
}

.tpl_intersticiel .next .string {
    background-color: rgb(53, 32, 97);
    color: white;

    padding: 0.5em;
    margin-top: 2em;
    display: block;
}

.tpl_intersticiel .card {
    text-align: center;
    font-style: italic;
    position: relative;

}

.tpl_intersticiel .card .audioPlayer {
    position: absolute;
    top: -3em;
    right: -1em;

}

.tpl_intersticiel .content {
    
}


.tpl_intersticiel .content .title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.tpl_intersticiel .content .main_text {
    margin-top: 1em;
    margin-bottom: 1em;
}



/* tpl_livre + tpl_chapitre */

/* contentPage : */

.contentPage .container {
    width: 100%;
    height: 100%;
}

.contentPage header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(30% - .5em);

    border-bottom: .5em solid white;
}

.contentPage .mainContent {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    height: 60%;

    overflow-y: scroll;

}

.contentPage footer {
    position: absolute;
    top: 87%;
    left: 0;
    right: 0;
    height: 13%;
    padding: 0em;

    text-align: center;
}


.contentPage .audioPlayer {
    position: absolute;
    top: 0;
    right: 0;

    opacity: 0.3;
}


.contentPage header .diaporama {
    height: 100%;
}

.contentPage header .diaporama img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;

    position: absolute;
    top:0;
    left:0;

    transition: transform 0.3s;
}

.contentPage header .diaporama img.gone {
    transform: translateX(-100vw) scale(0.2);
}


.items.bottom-menu {
    padding: 0.5em 2em;
    width: calc(100% - 5em);
    height: calc(100% - 1em);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.items.bottom-menu .item {
    display: block;
    height: 100%;


}



.contentPage .mainContent{
    background-size: cover;
}



.contentPage .mainContent .bt.heading {
    /*margin-top: 1em;
    margin-bottom: 1em;*/
}

.contentPage .mainContent .bt.em {
    font-style: italic;
   /* padding: 0.5em 0;*/
}




.contentPage .mainContent .body {
    margin: 0em 2.5em;
    background: white;
    padding: 2em;
    height: calc(100% - 4em);
    overflow-y: scroll;
}






.tpl_livre.contentPage .mainContent .body {
    margin: 0em 0em;
    border-radius: 0 0 2em 2em;
}

.tpl_livre.contentPage .mainContent{
    height: 57%;
}

.tpl_livre.contentPage footer {
    height: calc(13% - 0.5em);
    padding-bottom: 0.5em;
}



.tpl_page_medias.contentPage .mainContent {
    height: calc(70% - 1em);
    padding-bottom: 1em;
}



/* QUIZ */

.tpl_page_quiz .items {
    padding-top: 2em;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tpl_page_quiz .items li {
    flex-basis: 40%;
    list-style: none;
    text-align: center;
    background-color: rgb(53, 32, 97);
    color: white;

    padding: 1em;
    margin-top: 1em;

    text-transform: uppercase;


}





/* menu */

.tpl_menu {
    background: rgb(53, 32, 97);
}

.tpl_menu .items {
    margin-top: 3em;
    padding-left: 1em;
    padding-right: 1em;

    list-style: none;

    color: white;
    font-size: 2em;
    line-height: 1.5em;

    text-transform: uppercase;
}


/* info */

.tpl_page_informations {

}







.tpl_page_carte .mapContainer {
    height: 90%;
    width: 100%;
}


.tpl_page_carte footer {
    height: 10%;
    background: rgb(53, 32, 97);
}

.tpl_page_carte footer body {
    height: 100%;
}



.tpl_page_carte .map-marker {
  background-color: yellow;  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

  z-index: 0;
}

.tpl_page_carte .map-marker.hidden, .tpl_page_carte  .map-popup.hidden {
    opacity: 0;
    pointer-events: none;
}

.tpl_page_carte .map-popup {
    text-align: center;
    size: 1em;
    padding: 0.5em;
    color: white;
    background-color: rgb(53, 32, 97);
    border: 3px solid white; 

    width: 150px;
    z-index: 1000;
}


















.menuButton {
    position: absolute;
    top: 0em;
    left: 0em;


    height: 40px;
    width: 40px;
}

.menuButton img {
    width: 100%;
}


.closeButton, .mapButton {
    position: absolute;
    top: 0em;
    right: 0em;

    height: 40px;
    width: 40px;
}

.closeButton img, .mapButton img {
    width: 100%;
}

