* {
    padding: 0;
    margin:0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(53, 32, 97);
    line-height: 1.4em;

    overscroll-behavior-y: none;

}

.pleaseWait {
    text-align: center;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 2em;

    background-image: url('medias/wait.gif');
    background-size: 1em;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.scene {
    /*transition: all 0.2s;*/
    position: fixed;
    top: 0;
    left: 0%;
    
    height: 100%;
    width: 100%;

    background: white;

}

.empty {
    display: none !important;
}


.inBackground {
    left: -100%;
}

.inFront {
    left: 0;
    z-index: 1;
}

.link {
    cursor: pointer;
}

.link.closed-link {
    opacity: 0.2;
    pointer-events: none;
}


/* COMPONENTS */

.container {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container.carded  {
    padding: 2em;

    width: calc(100% - 4em);
    height: calc(100% - 4em);
}

.card {

    width: calc(100% - 2em);
    height: calc(100% - 2em);
    padding: 1em;

    background: white;

    max-width: 600px;
    margin: auto;
}

.card .content {

    width: 100%;
    height: calc(100% - 5em);
    overflow-y: scroll;
}




.audio_control {
    width: 3em;
    top:0em;
    right: 0em;
    position: absolute;
}

.audio_control.disabled {
    display: none;

}


/* TEMPLATES */ 


/* tpl_accueil */ 

.tpl_accueil .front {
    display: block;
    margin: auto;
    height: 100%;
    
    z-index: 1;
}

/* tpl_intersticiel */

.tpl_intersticiel .next {
    text-align: center;
    margin: 1em;
}

.tpl_intersticiel .next .image {
    width: 60px;
}

.tpl_intersticiel .next .string {
    background-color: rgb(53, 32, 97);
    color: white;

    padding: 0.5em;
    margin-top: 2em;
    display: block;
}

.tpl_intersticiel .card {
    font-style: italic;
}





.card {
    text-align: center;
    position: relative;
}

.card .audio_control {
    top:-1em;
    right: -1em;
}


.card .content .title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.card .content .main_text {
    margin-top: 1em;
    margin-bottom: 1em;
}



/* tpl_livre + tpl_chapitre */

/* contentPage : */

.contentPage .container {
    width: 100%;
    height: 100%;
}

.contentPage header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(30% - .5em);

    border-bottom: .5em solid white;


    background-image: url('medias/wait.gif');
    background-size: 1em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.contentPage.fullscreen-diaporama header{
    height: 100%;
    width: 100%;
    border: 0;
    z-index: 100;
}

.contentPage .mainContent {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    height: calc(70% - 4rem);

    overflow-y: scroll;

}

.contentPage footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    padding: 0em;

    text-align: center;
}


.contentPage .audio_control {
    top:1em;
    right: 1em;
}


.contentPage header .diaporama {
    height: 100%;
}

.contentPage header .diaporama img {
    object-fit: cover;
    display: block;
    height: 100%;
    background: black;
}

.contentPage.fullscreen-diaporama.fullview header .diaporama img {
    object-fit: contain;

}

.contentPage header .navButtons img {
    position: absolute;
    top: calc(50% - 1.5em);
    height: 3em;

    left: 0;
}

.contentPage.fullscreen-diaporama header .navButtons .diaporama-next,
.contentPage.fullscreen-diaporama header .navButtons .diaporama-previous {
    top: calc(45% - 2.5em);
    height: 5em;
}

.contentPage header .navButtons .diaporama-close {
    display: none;
}


.contentPage.fullscreen-diaporama header .navButtons .diaporama-close {
    display: block;
}

.contentPage.fullscreen-diaporama header .mapButton,
.contentPage.fullscreen-diaporama header .closeButton,
.contentPage.fullscreen-diaporama header .backButton {
    display: none;
}

.contentPage header .navButtons .diaporama-next {
    left: auto;
    right: 0;
}

.contentPage header .navButtons .diaporama-close {
    left: auto;
    top: 0.5em;
    right: 0.5em;

    height: 2em;
}

.contentPage header .legendContainer {
    display: none;
    position: absolute;
    bottom: 0;
    background: rgb(53, 32, 97);
    color: white;
    padding: 1em;

    text-align: center;

    transition: transform 0.2s;
    transform-origin: bottom;
}

.contentPage.fullscreen-diaporama header .legendContainer {
    display: block;
}

.contentPage.fullview header .legendContainer {
    transform: scaleY(0);
    transform-origin: bottom;
}

.items.bottom-menu {
    padding: 0.5em 2em;
    width: calc(100% - 5em);
    height: calc(100% - 1em);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 700px;
    margin: auto;
}

.items.bottom-menu .item {
    display: block;
    height: 100%;


}



.contentPage .mainContent{
    background-size: cover;
}



.contentPage .mainContent .bt.heading {
    font-size: 1.3em;
    padding-right: 2em;
}

.contentPage .mainContent .bt.em {
    font-style: italic;
}




.contentPage .mainContent .body {
    margin: 0em 2.5em;
    background: white;
    padding: 2em;
    height: calc(100% - 4em);
    overflow-y: scroll;
}









.tpl_livre.contentPage .mainContent .body {
    margin: 0em 0em;
    
}

.tpl_livre.contentPage .mainContent{
    height: calc(70% - 5rem);

    padding-bottom: 1rem;
    background: white;
    border-radius: 0 0 2em 2em;
}





.tpl_chapitre.contentPage .mainContent{
    height: calc(70% - 5rem);

    padding-bottom: 1rem;
    background-color: white;
}

.tpl_chapitre.contentPage footer{
    background-color: rgb(53, 32, 97);
}
.tpl_chapitre.contentPage .mainContent .body {

    margin: 0;
}


.tpl_page_medias.contentPage .title {
    margin-bottom: 1em;
    padding-right: 1em;
}

.tpl_page_medias.contentPage .mainContent {
    height: calc(70% - 1em);
}

.tpl_page_medias.contentPage .mainContent .body {
    margin: 0;
}



@media (min-width: 900px) , (orientation: landscape) {
        
    .contentPage header {
        top: 0;
        left: 0;
        width: calc(50% - 0.5em);
        height: 100%;

        border-bottom: 0;
        border-right: .5em solid white;
    }


    .contentPage header {
        width: 50%;
        border: 0;
    }

    .contentPage .mainContent {
        top: 0;
        left: 50%;
        right: 0;
        height: calc(100% - 4rem);


    }

    .contentPage footer {
        left: 50%;
        right: 0;

    }

    .tpl_livre.contentPage .mainContent {
        height: calc(100% - 5rem);

    }

    .tpl_page_medias.contentPage .mainContent {
        height: calc(100% - 1em);
    }

    .tpl_chapitre.contentPage .mainContent {
        height: calc(100% - 5rem);
    }

    .contentPage .items.bottom-menu {
        max-width: none;
    }

    .tpl_livre.contentPage footer {
        /*height: calc(20% - 0.5em);*/
    }



}

/*
@media (min-width: 1024px) and (orientation: landscape) {
        
    .contentPage .container {
    }

    .contentPage header {
        top: 0;
        left: 0;
        width: calc(50% - 0.5em);
        height: 100%;

        border-bottom: 0;
        border-right: .5em solid white;
    }


    .contentPage .mainContent {
        top: 0;
        left: 50%;
        right: 0;
        height: 88%;


    }

    .contentPage footer {
        top: 92%;
        left: 50%;
        right: 0;
        height: 8%;
        
    }

    .tpl_livre.contentPage .mainContent {
        height: calc(90% - 1em);
    }

    .tpl_page_medias.contentPage .mainContent {
        height: 100%;
    }

    .tpl_chapitre.contentPage .mainContent {
        height: calc(90% - 1em);
    }

    .contentPage .items.bottom-menu {
        max-width: none;
    }

    .tpl_livre.contentPage footer {
        height: calc(8% - 0.5em);
    }



}*/






/**/
.videoFrame {
    background: black;
}



/* QUIZ */

.tpl_page_quiz .card .content {
    height: 100%;
}

.tpl_page_quiz .items {
    padding-top: 0em;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tpl_page_quiz .items li {
    flex-basis: 40%;
    list-style: none;
    text-align: center;
    background-color: rgb(53, 32, 97);
    color: white;

    padding: 1em;
    margin-top: 1em;

    text-transform: uppercase;


}





/* menu */

.tpl_menu {
    background: rgb(53, 32, 97);
}

.tpl_menu .items {
    margin-top: 3em;
    padding-left: 1em;
    padding-right: 1em;

    list-style: none;

    color: white;
    font-size: 2em;
    line-height: 1.5em;

    text-transform: uppercase;
}


/* info */

.tpl_page_informations .container {
    overflow-y: scroll;
}

.tpl_page_informations .body {
    padding: 2em;
}

.tpl_page_informations .title {
    padding-top: 1em;
    padding-bottom: 2em;
}


.tpl_page_informations .images img {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
}





.tpl_page_carte .mapContainer {
    height: calc(100% - 4rem);
    width: 100%;
}


.tpl_page_carte footer {
    height: 4rem;
    background: rgb(53, 32, 97);
}

.tpl_page_carte footer body {
    height: 100%;
}

.items.bottom-menu {
    max-width: 300px;
}


@media (max-width: 1024px) and (orientation: landscape) {
    .tpl_page_carte .mapContainer {
        height: calc(100% - 3.5rem);
    }

    .tpl_page_carte footer {
        height: 3.5rem;
    }
}



.tpl_page_carte .map-marker {
  background-color: yellow;  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

  z-index: 0;
}

.tpl_page_carte .map-marker.to-chapitre {
  width: 30px;
  height: 30px;
}

.tpl_page_carte .map-popup.to-chapitre {
    background-color: rgb(154,11,71);

}




.tpl_page_carte .map-marker.hidden, .tpl_page_carte  .map-popup.hidden {
    opacity: 0;
    pointer-events: none;
}

.tpl_page_carte .map-popup {
    text-align: center;
    size: 1em;
    padding: 0.5em;
    color: white;
    background-color: rgb(53, 32, 97);
    border: 3px solid white; 

    width: 150px;
    z-index: 1000;
}


















.menuButton {
    position: absolute;
    top: 0em;
    left: 0em;


    height: 40px;
    width: 40px;
}

.menuButton img {
    width: 100%;
}


.backButton, .closeButton, .mapButton {
    position: absolute;
    top: 0em;
    right: 0em;

    height: 40px;
    width: 40px;
}

.backButton img, .closeButton img, .mapButton img {
    width: 100%;
}

.closeButton {
    top: 0.5em;
    right: 0.5em;
}


